<%- include("partials/header") -%>

<div class="form-section">
  <form action="/register" method="POST">
    <div class="mb-3">
      <h2>Register</h2>
    </div>

    <div class="mb-3">
      <input type="email" placeholder="Email" aria-describedby="emailError"
      class="form-control form-control-lg" name="username">
      <div id="emailError" class="form-text"><%= errorEmailMessage %></div>
    </div>

    <div class="mb-3">
      <input type="password" placeholder="Password" aria-describedby="passwordError"
      class="form-control form-control-lg" name="password">
      <div id="passwordError" class="form-text"><%= errorPasswordMessage %></div>
    </div>

    <div class="mb-3 form-check form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" />
      <label class="form-check-label" for="flexSwitchCheckDefault">Remember me</label>
    </div>

    <button type="submit" class="btn btn-rounded btn-dark">REGISTER</button>

    <div class="mb-3 or-section">
      <div class="hr-section">
        <hr>
      </div>
      <div class="hr-text">
        <p>OR</p>
      </div>
      <div class="hr-section">
        <hr>
      </div>
    </div>

    <div class="social-items">
      <div id="facebook" class="social-item">
        <a class="mb-2 btn btn-outline-dark btn-rounded rounded-pill"
         href="/auth/facebook" role="button">
          <i class="fa fa-facebook fa-lg"></i>
        </a>
      </div>

      <div id="google" class="social-item">
        <a class="mb-2 btn btn-outline-dark btn-rounded rounded-pill"
         href="/auth/google" role="button">
          <i class="fa fa-google fa-lg"></i>
        </a>
      </div>

      <div id="instagram" class="social-item">
        <a class="mb-2 btn btn-outline-dark rounded-pill" href="" role="button">
          <i class="fa fa-instagram fa-lg"></i>
        </a>

      </div>
    </div>

    <div class="sign-up">
      <p>Already have an account?</p>
      <a href="/login">LOG IN</a>
    </div>

  </form>
</div>


<%- include("partials/footer") -%>
