html {
  background-color: #D3D3D3;
  background-image: -webkit-linear-gradient(65deg, #262626 50%, #D3D3D3 50%);
  font-family: 'helvetica neue';
}
body{
  min-height: 100vh;
  background: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.form-section{
  width: 500px;
  padding: 20px 50px;
  background-color: white;
  min-height: 500px;
  border-radius: 20px;
}
.or-section{
  display: flex;
  align-items: center;
}
.hr-section{
  height: 30px;
  padding: 10px 0;
  flex: 10
}
.hr-text{
  height: 30px;
  padding: 12.5px 20px 10px;
  flex: 1
}
.btn{
  width: 100%;
  padding: 10px 0;
}

#facebook a {color: #3b5998; padding: 10px 0}
#google a {color: #dd4b39; padding: 10px 0}
#instagram a {color: #833AB4; padding: 10px 0}

.sign-up{
 display: flex;
 justify-content: center;
 gap: 10px;
 margin-top: 15px;
}
.form-control:focus, .form-check-input:focus {
  border-color: #D3D3D3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #D3D3D3;
}

.form-check input[type="checkbox"]:checked{
  background-color: #262626;
  border-color: #262626;
}
h2{
  text-align: center;
  padding-bottom: 5px;
}
.add-to-list{
  border: none;
}
.add-to-list button{
  border: none;
  border-radius: 10px;
  margin-left: 10px;
}
.add-to-list i{padding: 10px;}
#heading{margin-bottom: 20px;}
.error-page{
  background-color: white;
  border-radius: 20px;
  padding: 50px 80px;
}
.form-text{color: red}

.item{
  display: flex;
  align-items: center;
  gap: 15px;

  margin: 10px 0;
}
div.item{
  border: solid 1px #D3D3D3;
  padding: 4px 15px;
}
div.list-item{
  justify-content: space-between;

}
.item p, .item a{
  font-size: 1.5rem;
  margin: 0;
}
.item a{
  text-decoration: none;
  color: black;
}
.item a:hover{
  opacity: 70%;
}
footer {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}
.left-bar{
  height: 50px;
  width: 250px;

  position: absolute;
  right: 10px;
  top: 10px;

  display: flex;
  gap: 10px;
}
.only-log{
  width: 120px;
}
input:checked + p, input:checked + a {
  text-decoration: line-through;
  text-decoration-color: #D3D3D3;
  opacity: 50%;
}
/* .list-items{

} */
